

<footer class="" style="background-color:#232f3e; margin-top:0px">
          <div class="container">
            <div class="row">
            <div class="col l4 s12">
                 <blockquote> <h5 class="white-text" style="font-family:cordia new;font-size:40px;">CollegeCult</h5>
                <address> <p class="grey-text text-lighten-4">this is address</p></address>
              </blockquote>
              </div>
              <div class="col l3 offset-l1 s6">
                <h6 class="red-text" ><B>CONNECT WITH US</B></h6>
                <ul>
                  <li ><a class="grey-text text-lighten-3" href="https://www.facebook.com/CollegeCults"> Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/collegecult_insta/?hl=en">     Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"> Twitter</a></li>
                  
                </ul>
              </div>


                <div class="col l3 offset-l1 s6">
                <h6 class="red-text"><B>HELP & SUPPORT</B></h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Suggest Products</a></li>
                  <li><a class="grey-text text-lighten-3" href="feedback.html">Feedback</a></li>
                  <li><a class="grey-text text-lighten-3" href="policy.html#returnpolicy">Return Policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="policy.html#nocoupons">Why we don't use coupons?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <span style="color:white"> © 2014 Copyright CollegeCult.com</span>
     
            </div>
          </div>
        </footer>