<!DOCTYPE html>
<html lang="en">
<head>
    <title>CollegeCult- T-Shirts, Shoes, Skirts, Heels, Posters, Gifts and so much more you love. </title>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="T Shirts, Shoes, Tops, kurtis, ear rings, bags, superheroes, paintings, posters">
    <meta name="description" content="Official dealer of wooden garden furniture.">
    <script>
    document.onreadystatechange = function () 
    {
        var state = document.readyState
        if (state == 'complete') 
        {
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
        }
    }
    </script>
    <style> #load{position:absolute; width:100%; height:100%; z-index:100000; background-color:white; }</style>
    <link href="css/index.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="materialize/css/materialize.min.css"> 
</head>
<body ng-app="angularApp" ng-controller="activation" style="font-family:cordia new">
    

  
    <div id="load">    
        <div style="top:-1.25%;" class="progress">
            <div  class="indeterminate"></div>
        </div>  
        <center><span style="font-family:cordia new; font-size:50px">Awsome things are at bay!</span></center>
    </div>
    
    

   <!-- side navbar starts here-->
     <div class="navbar-fixed">
         <nav style="background-color:#232f3e"class="" style=""><!-- side navbar starts here-->
             <ul id="slide-out" class="side-nav">
                <li class="" style="width:100% text-align:center;background-color:#232f3e">
                    <ul > 
                        <li >
                            <strong style=" color:white;font-size:35px;"><a style="text-decoration:none;color:white;"href="fullStore.html"><h4>Full Store</h4></a> </strong> 
                          
                        </li>
                     </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header" ><img src="img/ICONS/menu/businesswomanred_24px.png"> <span style="  font-size:25px;">HER</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a ng-href="gstore.html?gender=F&type=skirts"><img src="img/ICONS/menu/skirt_25px.png">
                                    <span style=" font-size:25px;"> Skirts</span></a></li>
                                <li><a ng-href="gstore.html?gender=F&type=shorts">
                                    <img src="img/ICONS/menu/shorts_25px.png"> <span style="  font-size:25px;"> Shorts</span></a></li>
                                <li><a ng-href="gstore.html?gender=F&type=tops"><img src="img/ICONS/menu/clothes_25px.png"> <span style="font-size:25px;"> Tops</span></a></li>
                                <li><a ng-href="gstore.html?gender=F&type=shoes"><img src="img/ICONS/menu/womens_shoe_25px.png"> <span style="font-size:25px;"> Shoes</span></a></li>
                               
                                <li><a ng-href="gstore.html?gender=F&type=lingerie"><img src="img/ICONS/menu/bra_25px.png">  <span style="font-size:25px;"> Undergarments</span></a></li>
                                <li><a ng-href="gstore.html?gender=F&type=Jwellery"><img src="img/ICONS/menu/jewelry_25px.png"> <span style="font-size:25px;"> Jwellery</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/businessman_2%2024px.png"><span style="   font-size:25px;"> HIS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a ng-href="store.html?storeType=M&typeValue=T-Shirts"><img src="img/ICONS/menu/clothes_green_25px.png"> <span style="   font-size:25px;"> T-Shirts</span></a></li>
                                <li><a ng-href="store.html?storeType=M&typeValue=Shoes"><img src="img/ICONS/menu/trainers_25px.png"> <span style="   font-size:25px;"> Shoes</span></a></li>
                                <li><a ng-href="store.html?storeType=M&typeValue=Shorts"><img src="img/ICONS/menu/shorts_green_25px.png">  <span style="   font-size:25px;"> Shorts</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
                  <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/gift_24px.png"> <span style="   font-size:25px;"> POSTERS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a ng-href="gstore.html?gender=U&type=Posters" ><img src="img/ICONS/sheet_of_paper_26px.png"> <span style="   font-size:25px;">All Posters</span></a></li>
                                <li><a ng-href="gstore.html?gender=U&type=Mugs" ><img src="img/ICONS/beer_25px.png"> <span style="   font-size:25px;"> Mugs</span></a></li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>     
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/gift_24px.png"> <span style="   font-size:25px;"> PAINTINGS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a ng-href="gstore.html?gender=U&type=Posters" ><img src="img/ICONS/sheet_of_paper_26px.png"> <span style="   font-size:25px;"> Posters</span></a></li>
                                <li><a ng-href="gstore.html?gender=U&type=Mugs" ><img src="img/ICONS/beer_25px.png"> <span style="   font-size:25px;"> Mugs</span></a></li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header"><img src="img/ICONS/menu/add_tag_25px.png"> <span style="   font-size:25px;">DEALS</span><i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a ng-href="store.html?storeType=discount&typeValue=10"><span style="   font-size:25px;color:red"> 10% OFF</span></a></li>
                                <li><a ng-href="store.html?storeType=discount&typeValue=30"><span style="   font-size:25px;color:red">  30% OFF</span></a></li>
                                <li><a ng-href="store.html?storeType=discount&typeValue=50"><span style="   font-size:25px;color:red">  50% OFF</span></a></li>
                                <li><a ng-href="store.html?storeType=discount&typeValue=70"><span style="   font-size:25px;color:red">  70% OFF</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        
        </ul><!-- slider menu ends here -->
        <ul class="right ">
            <li><a href="#"><i class="material-icons">search</i></a></li>
            <li style="" class="">
              <a ng-href="cart.html" ><i class="material-icons" style="display:inline">shopping_cart</i><span style="padding:0px" ng-bind="localStoreItemCount"></span> Item(s)
              </a>
            </li>
           
            <li class="right" ng-hide="loggedIn">
                <a  class="dropdown-button" data-activates="dropdown2" ng-href="#!" ><i class="large material-icons">more_vert</i></a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li class="loginbtn" ng-click="loginBtn()" ng-hide="loggedIn"  >
                        <a ng-click="loginModal()">Login</a>
                    </li> 
                    <li class="loginbtn"  ng-hide="loggedIn"  >
                        <a ng-href="#"  ng-click="newUserModal()" >Sign Up</a>
                    </li>
                     
                </ul>
            </li>
            <li class="hide-on-med-and-down"><a href="fullStore.html" style="font-family:cordia new"class="brand-logo center">CollegeCult</a></li>
           
            <li class="hide-on-med-and-down" ng-show="loggedIn"> Hi! <span ng-bind="name"></span></li>
            <li  style="" ng-show="loggedIn">
                <a class="dropdown-button" data-activates="dropdown1" ng-href="#!" ><i class="large material-icons">more_vert</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a ng-href="myAccount.html">My Account</a></li>
                    <li><a ng-href="cart.html">Cart(<span ng-bind="localStoreItemCount"></span> Items) </a></li>
                    <li><a ng-href="wishlist.html">Wishlist(<span ng-bind="wishlistCount"></span> Items) </a></li>
                    <li><a ng-href="myorders.html">My Orders</a></li>
                    <li><a ng-href="logout.html">Logout</a></li>
                </ul>
            </li>  
         </ul><!-- horizontal navbar ends here -->
             <a class="hide-on-med-and-up" ng-href="index.html" style="font-family:cordia new;color:yellow;font-size:30px" class="brand-logo left"><b>Cults</b></a>
         <a ng-href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
             <ul>
             </ul>
             
    </nav> <!-- navbar ends here-->
        
</div>

  



<div class="row" ng-show="stageOne">
<center><h3>Please enter One Time Password.</h3> <h5>You are just one step away from activating your account thanks for the patience.</h5></center>
    
    <form>
        <div class="input-field col l4 offset-l4">
            <input id="otp"   name="otp" type="number" ng-model="otp" required><label for="otp">XXXXXX</label>          
        </div>        
        <div class="input-field col l offset-l4">
            <a href="#" class="btn" ng-click="vaidateOTP()">Validate</a>
        </div>
    </form>
</div>
    
    <div class="row " ng-hide="stageOne">
        <br><p></p>
       <div class=""  style="color:red">  <h5>{{errormessage}}.</h5></div>
<br><p></p><br><br><p></p><br><p></p><br><br>        
    </div>
<br><p></p><br><br><p></p><div ng-include src="'partials/footer.html'"></div>
    
    
    
     <div id="modal2" class="modal col l2" style="background-color:white;">
        <div class="modal-content">
        <center>    <span ng-show="stageTwo" STYLE="color:white;" class="chip green card hoverable"> <b >&#10005; </b>
                <b><span  ng-bind="successMessage"></span></b></span></center>
            <table><tr>
            <td style=""><div class="col s6 l4"> <form>
               
                    <div  class="input-field " style="">
                        <input id="loginEmail" type="email" class="validate" ng-blur="asyncEmailCheck('login')" value="" ng-model="loginEmail" autofocus="autofocus" required/>      <label for="loginEmail"  data-error="Oops!" data-success="Perfect">Email</label>
                    </div>
                    <div class="input-field " style="">
                        <input id="loginPassword" type="password" class="validate" value="" ng-model="loginPassword" required/>
                        <label for="password"  data-error="Oops!" data-success="Perfect">Password</label>
                    </div>
                
                
                    <div class="input-field " style="">
                        <input type="submit" name="submit" ng-click="login()" class="waves-effect waves-light btn" style="background-color:orange;color:white;" value="SIGN IN"/>
                      <p>
                    </div>
                </form>
         
            </div> 
                
              </td>
           </tr>
            </table>
         </div></div>
    
    
    
<script>function getQueryVariable(variable){var query = window.location.search.substring(1);
       var vars = query.split("&");for (var i=0;i<vars.length;i++){var pair = vars[i].split("=");if(pair[0] == variable){return pair[1];} }return(false);}</script>
<script type="text/javascript" src="jquery/jquery.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="angular/lib/angular.min.js"></script>
<script type="text/javascript" src="angular/lib/angular-webstorage.min.js"></script>
<script type="text/javascript" src="javascript/javascript.js"></script>
<script type="text/javascript" src="angular/controllers/activate/activateController.js"></script>


</body>
</html>